<template name="homeHeader">
  <nav>
    <div class="container-fluid">
      <div class="nav-wrapper">
        <a href="{{pathFor route='home'}}" class="brand-logo"><span><span class="glyphicon glyphicon-phone"></span></span>
        <span><p class="brand-logo">AnonymEyes</p></span></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="https://www.github.com/neery1218/AnonymEyes" class="download-app">Download the app</a></li>
        </ul>
      </div>
    </div>
  </nav>
</template>