<template name="videoModal">
	<div class="modal video-modal" role="dialog">
		<div class="modal-content" style="{padding: 0px;}">
			{{#if videoExists}}
			<div class="video-wrapper">
				<video width="288" height="352" controls>
					<source src="{{getVideoFilename}}" type="video/mp4"/>
				</video>
			</div>
			{{else}}
			<div class="empty-video">
				The video is processing...
			</div>
			{{/if}}
			<div class="spacer"></div>
			<div class="modal-footer">
				<!-- <span class="modal-address">{{getVideoAddress}}</span> -->
				<span class="modal-address">{{getVideoFilename}}</span>

			</div>
		</div>
	</div>
</template>